<div class="mission">
    <div class="mission-title">
        <div class="mission-name">
            {{title}}
        </div>
        <div class="mission-title-data">
            <div class="mission-title-data-item">
                Objetivo: {{target}}
            </div>
            <div class="mission-title-data-item">
                Quedan:
                <span id="rem-stars-{{_id}}" class="stars-remind">
                    {{#stars-remind target  missioners}}{{/stars-remind}}
                </span>
            </div>
        </div>
        <div class="trash">
            <form action="/mission/{{_id}}?_method=DELETE" method="POST">
                <button class="empty-button" title="Eliminar">
                    <i class="fas fa-trash" ></i>
                </button>
                {{!-- <button type="submit" class="custom-btn">
                    <p class="btn-text">
                    Eliminar
                    </p>
                </button> --}}
            </form>
        </div>
    </div>
    <div class="mission-body">
        <div class="missioners">
            {{#each missioners as |missioner|}}
            <div class="missioner">
                <div class="missioner-name">
                    {{missioner.name}}
                </div>
                <div class="missioner-stars">
                    <div class="filled-stars">
                        {{#each missioner.stars as |star|}}
                            <img src="./images/star@0,5x.png" 
                            title="{{star.comment}} ({{#stringDate star.updatedAt}}{{/stringDate}})" 
                            alt="filled-start" 
                            class="missioner-star active-star"
                            mission="{{../../_id}}"
                            missioner="{{../_id}}"
                            star="{{_id}}"
                            onclick="editStar(event)">
                        {{/each}}
                        {{!-- {{#times missioner.stars.length  0}}
                        <button type="submit" name="missioner" value={{missioner.name}} id="star-button" class="star-btn">
                                        <img src="./images/star@0,5x.png" alt="filled-start" name={{../../_id}} missioner={{missioner.name}} class="missioner-star active-star" onclick="active(event)">
                                    </button>
                            <img src="./images/star@0,5x.png" alt="filled-start" class="missioner-star active-star">
                        {{/times}} --}}
                    </div>
                    <div class="add-remove-star">
                        {{#addStar ../target  ../missioners  missioner.stars.length}}
                            <div class="add-star">
                                {{!-- <form action="/missions/?_method=PATCH" method="POST">
                                    <input type="hidden" name="missionId" value={{../../_id}}>
                                    <input type="hidden" name="missionerId" value={{../_id}}>
                                    <button type="submit" class="custom-btn">
                                        <p class="btn-text">
                                            Añadir estrella
                                        </p>
                                    </button>
                                </form> --}}
                                <a class="btn-text" 
                                mission={{../../_id}} 
                                missioner={{../_id}} 
                                onclick="addStar(event)">
                                    Añadir estrella
                                </a>
                            </div>
                        {{/addStar}}
                        {{!-- {{#removeStar missioner.stars.length}}
                            <form action="/mission/remove/{{missioner._id}}?_method=PATCH" method="POST">
                                <button type="submit" class="custom-btn">
                                    <p class="btn-text">
                                        Quitar estrella
                                    </p>
                                </button>
                            </form>

                            <div class="remove-star">
                                <a class="btn-text" 
                                mission={{../../_id}} 
                                missioner={{../_id}} 
                                onclick="removeStar(event)">
                                    Quitar estrella
                                </a>
                            </div>
                        {{/removeStar}} --}}
                    </div>
                    {{!-- {{#times ../target  missioner.stars}}
                                <button type="submit" name="missioner" value={{missioner.name}} id="star-button" class="star-btn" >
                                    <img src="./images/star@0,5x.png" alt="empty-star" name={{../../_id}} missioner={{missioner.name}} class="missioner-star {{missioner.name}}" onclick="active(event)">
                                </button>
                        {{/times}} --}}

                </div>
            </div>
            {{/each}}
        </div>
        <div class="desc">
            {{description}}
        </div>
        <div class="date">
            {{#if date }}
            {{#dateFormat date}}
            {{/dateFormat}}
            {{/if}}
        </div>
        <div>
            {{!-- {{#finished target  missioners  _id}}
            {{/finished}} --}}
        </div>
    </div>
</div>
<script src="./mission.js"></script>