<div class="mission">
    <div class="mission-title">
        <div class="mission-name">
            <i class="fas fa-share-square custom-icon off-icon" title="misión compartida"></i>
            {{title}}
        </div>
        <div class="mission-title-data">
            <div class="mission-title-data-item">
                Objetivo: {{target}}
            </div>
            <div class="mission-title-data-item">
                Quedan:
                <span id="rem-stars-{{_id}}" class="stars-remind">
                    {{#stars-remind target  missioners}}{{/stars-remind}}
                </span>
            </div>
        </div>
        <div class="title-buttons">
            <div class="lock">
                    <i class="fas fa-lock custom-icon" 
                    title="No puedes editar"
                    onclick="getOwner('{{user}}')"
                    ></i>
            </div>
            <div class="trash">
                <button class="empty-button" >
                    <i class="fas fa-user-times custom-icon" 
                    title="Eliminarme como observador"
                    mission="{{_id}}" 
                    onclick="removeMeAsAViewerHandler('{{_id}}')"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="mission-body">
        <div class="missioners">
            {{#each missioners as |missioner|}}
            <div class="missioner">
                <div class="missioner-name">
                    {{missioner.name}}
                </div>
                <div class="missioner-stars">
                    <div class="filled-stars">
                        {{#each missioner.stars as |star|}}
                            <img src="./images/star@0,5x.png" 
                            title="{{star.comment}} ({{#stringDate star.updatedAt}}{{/stringDate}})" 
                            alt="filled-start" 
                            class="missioner-star active-star"
                            mission="{{../../_id}}"
                            missioner="{{../_id}}"
                            star="{{_id}}"
                            comment="{{star.comment}}" 
                            date="{{#stringDate star.updatedAt}}{{/stringDate}}"
                            onclick="showStarInfo('{{star.comment}}', '{{#stringDate star.updatedAt}}{{/stringDate}}')"
                            >
                        {{/each}}
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="desc">
            {{description}}
        </div>
        <div class="date">
            {{#if date }}
            {{#dateFormat date}}
            {{/dateFormat}}
            {{/if}}
        </div>
        <div>
        </div>
    </div>
</div>
<script src="./mission.js"></script>