<div class="mission">
    <div class="mission-title">
        <div class="mission-name">
            {{title}}
        </div>
        <div class="mission-title-data">
            <div class="mission-title-data-item">
                Objetivo: {{target}}
            </div>
            <div class="mission-title-data-item">
                Quedan:
                <span id="rem-stars-{{_id}}" class="stars-remind">
                    {{#stars-remind target  missioners}}{{/stars-remind}}
                </span>
            </div>
        </div>
        <div class="title-buttons">
            <div class="lock">
                    <i class="fas fa-lock" 
                    title="No puedes editar"
                    {{!-- mission="{{_id}}" 
                    onclick="removeMissionHandler(event)" --}}
                    ></i>
            </div>
            {{!-- <div class="viewers">
                <button class="empty-button" >
                    <i class="fas fa-users custom-icon" 
                    title="Compartir con otro usuario"
                    mission="{{_id}}" 
                    onclick="viewerMissionHandler('{{_id}}')"></i>
                </button>
            </div>
            <div class="trash">
                    <button class="empty-button" >
                        <i class="fas fa-trash custom-icon" 
                        title="Eliminar"
                        mission="{{_id}}" 
                        onclick="removeMissionHandler(event)"></i>
                    </button>
            </div> --}}
        </div>
    </div>
    <div class="mission-body">
        <div class="missioners">
            {{#each missioners as |missioner|}}
            <div class="missioner">
                <div class="missioner-name">
                    {{missioner.name}}
                </div>
                <div class="missioner-stars">
                    <div class="filled-stars">
                        {{#each missioner.stars as |star|}}
                            <img src="./images/star@0,5x.png" 
                            title="{{star.comment}} ({{#stringDate star.updatedAt}}{{/stringDate}})" 
                            alt="filled-start" 
                            class="missioner-star active-star"
                            mission="{{../../_id}}"
                            missioner="{{../_id}}"
                            star="{{_id}}"
                            comment="{{star.comment}}" 
                            date="{{#stringDate star.updatedAt}}{{/stringDate}}"
                            onclick="showStarInfo('{{star.comment}}', '{{#stringDate star.updatedAt}}{{/stringDate}}')"
                            >
                        {{/each}}
                    </div>
                    {{!-- <div class="add-remove-star">
                        {{#addStar ../target  ../missioners  missioner.stars.length}}
                            <div class="add-star">
                                <a class="btn-text" 
                                mission={{../../_id}} 
                                missioner={{../_id}} 
                                onclick="addStar(event)">
                                    Añadir estrella
                                </a>
                            </div>
                        {{/addStar}}
                    </div> --}}
                </div>
            </div>
            {{/each}}
        </div>
        <div class="desc">
            {{description}}
        </div>
        <div class="date">
            {{#if date }}
            {{#dateFormat date}}
            {{/dateFormat}}
            {{/if}}
        </div>
        <div>
        </div>
    </div>
</div>
<script src="./mission.js"></script>